openapi: 3.0.1
info:
  title: vDB API
  description: "API for working with vDB Instances (Relational Databases, MemoryStore\
    \ Databases and Kafka Clusters)."
  version: "1.0"
servers:
- url: https://vdb-gateway.vngcloud.vn
  description: Generated server url
paths:
  /vdb-memory/v1/database-instances/{dbInstanceId}/update-setting:
    put:
      tags:
      - MemoryStore Database API
      operationId: updateDatabaseSetting
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"dbInstanceId\":\"db-b0c9332f-96da-4aff-9439-38f9a9e2bf46\"\
                ,\"redisPassword\":\"abcd1234abcd1234\",\"redisPasswordEnabled\":true,\"\
                editRedisPassword\":true,\"publicAccess\":false,\"backupAuto\":true,\"\
                backupDuration\":2,\"backupTime\":\"00:00\",\"updateType\":0}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentObject'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/update-config-group:
    put:
      tags:
      - MemoryStore Database API
      operationId: updateDatabaseConfigGroup
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"dbInstanceId\":\"db-b0c9332f-96da-4aff-9439-38f9a9e2bf46\"\
                ,\"configId\":\"cfg-89bd25dc-79a5-49a8-9278-3ef0b23bba36\",\"updateType\"\
                :1}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentObject'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/secrules:
    get:
      tags:
      - MemoryStore Database API
      operationId: getSecurityRules_1
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListSecurityGroupRuleEntity'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    put:
      tags:
      - MemoryStore Database API
      operationId: updateSecurityRules
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "[{\"id\":\"98a148e4-8eb8-4aa5-a5a2-bcdbfd3b821b\",\"direction\"\
                :\"ingress\",\"etherType\":\"IPv4\",\"protocol\":\"tcp\",\"portRangeMin\"\
                :6379,\"portRangeMax\":6379,\"remoteIpPrefix\":\"10.11.0.0/16\"},{\"\
                direction\":\"ingress\",\"etherType\":\"IPv4\",\"protocol\":\"tcp\"\
                ,\"portRangeMin\":6379,\"portRangeMax\":6379,\"remoteIpPrefix\":\"\
                10.10.0.0/16\"}]"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListSecurityGroupRuleEntity'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/configurations/update:
    put:
      tags:
      - MemoryStore Configuration group API
      operationId: updateConfig
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"id\":\"cfg-1bbe18fb-8736-4307-a60d-f87e057c544c\",\"name\"\
                :\"redis40\",\"datastoreType\":\"Redis\",\"datastoreVersion\":\"4.0\"\
                ,\"engineGroup\":2,\"values\":{\"activedefrag\":false,\"appendonly\"\
                :false}}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentItemConfigInfo'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/users/{userId}:
    get:
      tags:
      - Kafka Cluster API
      operationId: getUserById
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    put:
      tags:
      - Kafka Cluster API
      operationId: updateUser
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"produceTopicNames\":[\"string\"],\"produceAll\":true,\"\
                consumeTopicNames\":[\"string\"],\"consumeAll\":true,\"mtlsAuthen\"\
                :true,\"saslAuthen\":true}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Kafka Cluster API
      operationId: deleteUser
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/users/{userId}/regenerate-creds:
    put:
      tags:
      - Kafka Cluster API
      operationId: regenerateUserAuthenCreds
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/topics/{topicId}:
    get:
      tags:
      - Kafka Cluster API
      operationId: getTopicById
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: topicId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    put:
      tags:
      - Kafka Cluster API
      operationId: updateTopic
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: topicId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"partitions\":0,\"replicas\":0,\"retentionSeconds\":0,\"\
                retentionBytes\":0}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    delete:
      tags:
      - Kafka Cluster API
      operationId: deleteTopic
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: topicId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/public-access:
    put:
      tags:
      - Kafka Cluster API
      operationId: updatePublicAccess
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: enable
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/kafka-storage-type:
    put:
      tags:
      - Kafka Cluster API
      operationId: updateStorageType
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: storageType
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/kafka-storage-size:
    put:
      tags:
      - Kafka Cluster API
      operationId: updateStorageSize
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: size
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/kafka-broker-count:
    put:
      tags:
      - Kafka Cluster API
      operationId: updateBrokerCount
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: count
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: rebalance
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: boolean
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/config-group:
    put:
      tags:
      - Kafka Cluster API
      operationId: updateConfigGroup
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: configGroupVersionId
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/authentication:
    put:
      tags:
      - Kafka Cluster API
      operationId: updateAuthentication
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mtlsAuthen
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: boolean
      - name: saslAuthen
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: boolean
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/resources/{artifactId}/autoRenew:
    put:
      tags:
      - resource-controller
      operationId: updateAutoRenew
      parameters:
      - name: artifactId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: portal-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoRenewRequest'
        required: true
      responses:
        "200":
          description: OK
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/update/setting:
    put:
      tags:
      - Relational Database API
      operationId: updateDatabaseSetting_1
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"dbInstanceId\":\"db-70a4fbee-db60-46d2-858c-875478a03a38\"\
                ,\"password\":\"S8oJRwAQ_hXH\",\"publicAccess\":true,\"backupAuto\"\
                :true,\"backupDuration\":2,\"backupTime\":\"00:00\",\"updateType\"\
                :0}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentObject'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/update/config-group:
    put:
      tags:
      - Relational Database API
      operationId: updateDatabaseConfigGroup_1
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"dbInstanceId\":\"db-b0c9332f-96da-4aff-9439-38f9a9e2bf46\"\
                ,\"configId\":\"cfg-89bd25dc-79a5-49a8-9278-3ef0b23bba36\",\"updateType\"\
                :1}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentObject'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/secrules:
    get:
      tags:
      - Relational Database API
      operationId: getSecurityRules_2
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListSecurityGroupRuleEntity'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    put:
      tags:
      - Relational Database API
      operationId: getSecurityRules
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SecurityGroupRuleEntity'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListSecurityGroupRuleEntity'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/configurations/update:
    put:
      tags:
      - Relational Configuration group API
      operationId: updateConfig_1
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"id\":\"cfg-449d712c-8769-42c2-ae78-9f6c4fe9d00e\",\"name\"\
                :\"config-1\",\"datastoreType\":\"MySQL\",\"datastoreVersion\":\"\
                5.5\",\"engineGroup\":1,\"values\":{\"autocommit\":1}}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentItemConfigInfo'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/payment/database-instances:
    post:
      tags:
      - MemoryStore Database API
      operationId: createMemoryStoreDatabaseInstance
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"backupAuto\":false,\"backupDuration\":2,\"backupTime\"\
                :\"00:00\",\"configId\":\"\",\"datastoreType\":\"Redis\",\"datastoreVersion\"\
                :\"4.0\",\"engineGroup\":2,\"flavorId\":\"9608047\",\"name\":\"nhontt-mem-stg\"\
                ,\"netIds\":[\"sub-c6071119-1a44-42cf-bc03-bb43e584242a\"],\"packageId\"\
                :102,\"packageName\":\"db.s-general-1x2\",\"priceKey\":\"general\"\
                ,\"publicAccess\":false,\"ram\":2,\"redisPassword\":\"abcd1234abcd1234\"\
                ,\"redisPasswordEnabled\":true,\"vcpus\":1,\"volumeId\":0,\"volumeSize\"\
                :0,\"volumeType\":\"ssd-iops200\",\"volumeTypeSku\":\"SSD-IOPS200.dbaas\"\
                ,\"volumeTypeZoneId\":\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\",\"\
                zoneId\":111}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/payment/backup-storages:
    post:
      tags:
      - MemoryStore Backup Storage API
      operationId: createMemoryStoreBackUpStorage
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"sku\":\"db.backup.quota.100GB\",\"backupPackageId\":6,\"\
                backupPackageName\":\"db.backup.quota.100GB\",\"engineGroup\":2,\"\
                name\":\"memory_store_backup_storage\",\"quota\":\"100\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/start:
    post:
      tags:
      - MemoryStore Database API
      operationId: startDatabaseInstances
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"start\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}],\"resType\":\"dbaas\"\
                }"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/shutdown:
    post:
      tags:
      - MemoryStore Database API
      operationId: stopDatabaseInstances
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"stop\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}],\"resType\":\"dbaas\"\
                }"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/resize-instance:
    post:
      tags:
      - MemoryStore Database API
      operationId: resizeInstance
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas\",\"action\":\"resize\",\"databaseInstances\"\
                :[{\"instancesId\":\"db-b0c9332f-96da-4aff-9439-38f9a9e2bf46\",\"\
                config\":{\"engineGroup\":2,\"ram\":4,\"vcpus\":2,\"volumeType\":\"\
                ssd-iops200\",\"volumeSize\":0,\"packageName\":\"db.s-general-2x4\"\
                ,\"updateType\":\"FLAVOR\",\"volumeTypeZoneId\":\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\"\
                ,\"flavorId\":\"9608049\",\"packageSku\":\"db.s-general-2x4\",\"isResized\"\
                :true,\"packageId\":103}}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/renew-resource:
    post:
      tags:
      - MemoryStore Database API
      operationId: renewResource
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"renew\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"config\":{\"resId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"resName\":\"database-1\"\
                ,\"resType\":\"dbaas\"}}],\"resourceType\":\"dbaas\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/reboot:
    post:
      tags:
      - MemoryStore Database API
      operationId: restartDatabaseInstances
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"reboot\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}],\"resType\":\"dbaas\"\
                }"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/exchange-poc:
    post:
      tags:
      - MemoryStore Database API
      operationId: exchangePocResource
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"exchange_poc\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"config\":{\"resId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"resName\":\"database-1\"\
                ,\"resType\":\"dbaas\"}}],\"resourceType\":\"dbaas\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/detach-replica:
    post:
      tags:
      - MemoryStore Database API
      operationId: detachReplica
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"detach_replica\",\"databaseInstances\":[{\"\
                instancesId\":\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}],\"resType\"\
                :\"dbaas\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/delete:
    post:
      tags:
      - MemoryStore Database API
      operationId: deleteDatabaseInstances
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"delete\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-270a92f0-bba6-4762-911a-44ebd66c0e66\",\"config\":{\"createFinalBackup\"\
                :false,\"deleteAllBackup\":true}}],\"resType\":\"dbaas\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances/{dbInstanceId}/create-replicas:
    post:
      tags:
      - MemoryStore Database API
      operationId: createDatabaseInstanceReplica
      parameters:
      - name: dbInstanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"backupAuto\":false,\"backupDuration\":2,\"backupTime\"\
                :\"00:00\",\"configId\":\"\",\"datastoreType\":\"Redis\",\"datastoreVersion\"\
                :\"4.0\",\"engineGroup\":2,\"flavorId\":\"9608099\",\"name\":\"nhontt-mem-rep\"\
                ,\"netIds\":[\"sub-ce1c9565-5abd-446c-ab46-3a9de7517e7a\"],\"packageId\"\
                :64,\"packageName\":\"db.a-general-2x4\",\"path\":\"database-instances\"\
                ,\"priceKey\":\"a-general\",\"publicAccess\":false,\"ram\":4,\"redisPasswordEnabled\"\
                :false,\"vcpus\":2,\"volumeId\":0,\"volumeSize\":0,\"volumeType\"\
                :\"ssd-iops200\",\"volumeTypeSku\":\"SSD-IOPS200.dbaas\",\"volumeTypeZoneId\"\
                :\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\",\"zoneId\":121,\"replicaSourceId\"\
                :\"db-ff53de54-f755-4b7e-8522-0cae12bd0fa9\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/configurations/delete:
    post:
      tags:
      - MemoryStore Configuration group API
      operationId: deleteConfigs
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "[{\"id\":\"cfg-3fa3776c-8f97-49bd-b1c0-e29f870904df\"}]"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListDeleteConfigResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/configurations/create:
    post:
      tags:
      - MemoryStore Configuration group API
      operationId: createConfig
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"name\":\"redis40\",\"description\":\"abcd\",\"datastoreType\"\
                :\"Redis\",\"datastoreVersion\":\"4.0\",\"engineGroup\":2}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentItemConfigInfo'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/backups/{backupId}/restore:
    post:
      tags:
      - MemoryStore Backup API
      operationId: restoreBackup
      parameters:
      - name: backupId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas-backup\",\"action\":\"restore_backup\"\
                ,\"databaseInstances\":[{\"instancesId\":\"db-71fdffd0-24fa-4e80-baa0-1eb3cc9e06a0\"\
                ,\"config\":{\"backupId\":\"bk-2517476b-c555-43a7-8760-e9c0740b27bf\"\
                ,\"name\":\"database-oi6enyek-1l\",\"ram\":2,\"vcpus\":1,\"flavorId\"\
                :\"9608047\",\"engineGroup\":2,\"volumeSize\":0,\"priceKey\":\"general\"\
                ,\"zoneId\":111,\"datastoreType\":\"Redis\",\"datastoreVersion\":\"\
                4.0\",\"netIds\":[\"sub-c6071119-1a44-42cf-bc03-bb43e584242a\"],\"\
                configId\":\"\",\"publicAccess\":false,\"backupAuto\":true,\"volumeType\"\
                :\"ssd-iops200\",\"packageId\":102,\"backupDuration\":2,\"backupTime\"\
                :\"00:00\",\"packageName\":\"db.s-general-1x2\",\"volumeTypeZoneId\"\
                :\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\",\"packageSku\":\"db.s-general-1x2\"\
                ,\"volumeTypeSku\":\"SSD-IOPS200.dbaas\",\"redisPassword\":\"abcd1234abcd1234\"\
                ,\"redisPasswordEnabled\":true}}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/backups/delete:
    post:
      tags:
      - MemoryStore Backup API
      operationId: deleteBackups
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "[{\"backupId\":\"bk-4d87c591-8b7f-4a48-85ad-228b4c7fe7eaaa\"\
                }]"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListDeleteBackupResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/backups/create:
    post:
      tags:
      - MemoryStore Backup API
      operationId: createBackups
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"name\":\"backup-odfc1dgu-g3\",\"dbInstanceId\":\"db-4384063b-0839-4346-a059-7a82209e0880\"\
                ,\"backupType\":\"FULL\",\"description\":\"Manual created\",\"engineGroup\"\
                :2}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentCreateBackupResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/backup-storages/actions/resize:
    post:
      tags:
      - MemoryStore Backup Storage API
      operationId: resizeBackupStorage
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas-backup-storage\",\"action\":\"resize\"\
                ,\"databaseInstances\":[{\"instancesId\":\"db-bk-storage-1f328ec6-df78-47df-87f5-6a8945a5bae3\"\
                ,\"config\":{\"backupStorageName\":\"memory_store_backup_storage\"\
                ,\"backupPackageName\":\"db.backup.quota.200GB\",\"quota\":\"200\"\
                ,\"backupPackageId\":2,\"sku\":\"db.backup.quota.200GB\",\"engineGroup\"\
                :2}}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/backup-storages/actions/renew:
    post:
      tags:
      - MemoryStore Backup Storage API
      operationId: renewBackupStorage
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas-backup-storage\",\"action\":\"renew\"\
                ,\"databaseInstances\":[{\"instancesId\":\"db-bk-storage-c79b1cf3-8110-4553-9d45-5fe0241a0575\"\
                ,\"config\":{\"resId\":\"db-bk-storage-c79b1cf3-8110-4553-9d45-5fe0241a0575\"\
                ,\"resName\":\"memory_store_backup_storage\"}}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/backup-storages/actions/delete:
    post:
      tags:
      - MemoryStore Backup Storage API
      operationId: deleteBackupStorage
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"databaseInstances\":[{\"instancesId\":\"db-bk-storage-11d6e542-d311-47ef-8c50-6abff7b8e8b2\"\
                ,\"config\":{\"engineGroup\":2}}],\"action\":\"delete\",\"resType\"\
                :\"dbaas-backup-storage\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/config-groups:
    get:
      tags:
      - Kafka Configuration Group API
      operationId: listConfigGroup
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    post:
      tags:
      - Kafka Configuration Group API
      operationId: createConfigGroup
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"name\":\"string\",\"description\":\"string\",\"properties\"\
                :[{\"key\":\"string\",\"value\":\"string\"}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/config-groups/{configGroupId}/versions:
    post:
      tags:
      - Kafka Configuration Group API
      operationId: createConfigGroupVersion
      parameters:
      - name: configGroupId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"properties\":[{\"key\":\"string\",\"value\":\"string\"\
                }]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters:
    get:
      tags:
      - Kafka Cluster API
      operationId: listClusters
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    post:
      tags:
      - Kafka Cluster API
      operationId: createOrderCluster
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKafkaClusterRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/users:
    get:
      tags:
      - Kafka Cluster API
      operationId: listUser
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    post:
      tags:
      - Kafka Cluster API
      operationId: createUser
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"name\":\"string\",\"produceTopicNames\":[\"string\"],\"\
                produceAll\":true,\"consumeTopicNames\":[\"string\"],\"consumeAll\"\
                :true,\"mtlsAuthen\":true,\"saslAuthen\":true}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/topics:
    get:
      tags:
      - Kafka Cluster API
      operationId: listTopic
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
    post:
      tags:
      - Kafka Cluster API
      operationId: createTopic
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"name\":\"string\",\"partitions\":0,\"replicas\":0,\"retentionSeconds\"\
                :0,\"retentionBytes\":0}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-kafka/clusters/{clusterId}/security-group-rules:
    post:
      tags:
      - Kafka Cluster API
      operationId: createSecRule
      parameters:
      - name: clusterId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"remoteIp\":\"string\",\"port\":0}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                type: string
                x-content-type: '*/*'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/price:
    post:
      tags:
      - pricing-controller
      operationId: calculatePrice
      parameters:
      - name: portal-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculatePriceRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CalculatePriceResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/payment/database-instances:
    post:
      tags:
      - Relational Database API
      operationId: createRelationalDatabaseInstance
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"databases\":[{\"name\":\"database-1\",\"characterSet\"\
                :\"utf8\",\"collate\":\"utf8_general_ci\"}],\"user\":{\"name\":\"\
                test\",\"password\":\"RB74qOoDxQ6D\",\"databases\":[{\"name\":\"database-1\"\
                }]},\"volumeId\":0,\"flavorId\":\"537\",\"name\":\"database-lfduxavl-4t\"\
                ,\"ram\":4,\"vcpus\":2,\"volumeTypeSku\":\"SSD-IOPS2-3000.dbaas\"\
                ,\"volumeSize\":20,\"volumeType\":\"ssd-iops3000\",\"priceKey\":\"\
                a-general\",\"zoneId\":251,\"engineGroup\":1,\"datastoreType\":\"\
                MySQL\",\"datastoreVersion\":\"8.0\",\"netIds\":[\"sub-246df886-3ef8-4d70-87e7-6b87f0caea50\"\
                ],\"configId\":\"cfg-f42c6f8f-2cd1-4fcc-a27c-e06a23ca0c49\",\"publicAccess\"\
                :true,\"backupAuto\":true,\"backupDuration\":2,\"backupTime\":\"00:00\"\
                ,\"packageName\":\"db.a-general-2x4\",\"packageId\":135,\"volumeTypeZoneId\"\
                :\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/payment/backup-storages:
    post:
      tags:
      - Relational Backup Storage API
      operationId: createRelationalBackUpStorage
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"sku\":\"db.backup.quota.100GB\",\"backupPackageId\":1,\"\
                backupPackageName\":\"db.backup.quota.100GB\",\"engineGroup\":1,\"\
                name\":\"relational_backup_storage\",\"quota\":\"100\",\"startDate\"\
                :\"2024-08-14T03:55:47.931Z\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{resourceId}/renew-resource:
    post:
      tags:
      - Relational Database API
      operationId: renewResource_1
      parameters:
      - name: resourceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"renew\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"config\":{\"resId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"resName\":\"database-1\"\
                ,\"resType\":\"dbaas\"}}],\"resourceType\":\"dbaas\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/start:
    post:
      tags:
      - Relational Database API
      operationId: startDatabaseInstances_1
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"start\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}],\"resType\":\"dbaas\"\
                }"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/shutdown:
    post:
      tags:
      - Relational Database API
      operationId: stopDatabaseInstances_1
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"stop\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}],\"resType\":\"dbaas\"\
                }"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/resize-storage:
    post:
      tags:
      - Relational Database API
      operationId: resizeStorage
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas\",\"action\":\"resize\",\"databaseInstances\"\
                :[{\"instancesId\":\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"\
                config\":{\"engineGroup\":1,\"ram\":4,\"vcpus\":2,\"volumeType\":\"\
                ssd-iops3200\",\"volumeSize\":20,\"packageName\":\"db.s-general-2x4\"\
                ,\"updateType\":\"VOLUME\",\"volumeTypeZoneId\":\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\"\
                ,\"volumeTypeSku\":\"SSD-IOPS3200.dbaas\"}}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/resize-instance:
    post:
      tags:
      - Relational Database API
      operationId: resizeInstance_1
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas\",\"action\":\"resize\",\"databaseInstances\"\
                :[{\"instancesId\":\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"\
                config\":{\"engineGroup\":1,\"ram\":4,\"vcpus\":2,\"volumeType\":\"\
                ssd-iops3000\",\"volumeSize\":20,\"packageName\":\"db.s-general-2x4\"\
                ,\"updateType\":\"FLAVOR\",\"volumeTypeZoneId\":\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\"\
                ,\"flavorId\":\"477\",\"packageSku\":\"db.s-general-2x4\",\"isResized\"\
                :true,\"packageId\":103}}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/reboot:
    post:
      tags:
      - Relational Database API
      operationId: restartDatabaseInstances_1
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"reboot\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}],\"resType\":\"dbaas\"\
                }"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/detach-replica:
    post:
      tags:
      - Relational Database API
      operationId: detachReplica_1
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"detach_replica\",\"databaseInstances\":[{\"\
                instancesId\":\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}],\"resType\"\
                :\"dbaas\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{instanceId}/delete:
    post:
      tags:
      - Relational Database API
      operationId: deleteDatabaseInstances_1
      parameters:
      - name: instanceId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"delete\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-270a92f0-bba6-4762-911a-44ebd66c0e66\",\"config\":{\"createFinalBackup\"\
                :false,\"deleteAllBackup\":true}}],\"resType\":\"dbaas\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/{id}/create-replicas:
    post:
      tags:
      - Relational Database API
      operationId: createRelationalDatabaseInstanceReplica
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"volumeId\":0,\"flavorId\":\"537\",\"name\":\"database-g0viipgc-yh\"\
                ,\"ram\":4,\"vcpus\":2,\"volumeTypeSku\":\"SSD-IOPS2-3000.dbaas\"\
                ,\"volumeSize\":20,\"volumeType\":\"ssd-iops3000\",\"priceKey\":\"\
                a-general\",\"zoneId\":251,\"engineGroup\":1,\"datastoreType\":\"\
                MySQL\",\"datastoreVersion\":\"8.0\",\"netIds\":[\"sub-246df886-3ef8-4d70-87e7-6b87f0caea50\"\
                ],\"configId\":\"\",\"publicAccess\":true,\"backupAuto\":true,\"backupDuration\"\
                :2,\"backupTime\":\"00:00\",\"packageName\":\"db.a-general-2x4\",\"\
                packageId\":135,\"volumeTypeZoneId\":\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\"\
                ,\"replicaSourceId\":\"db-70a4fbee-db60-46d2-858c-875478a03a38\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/database-instances/exchange-poc:
    post:
      tags:
      - Relational Database API
      operationId: exchangePocResource_1
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"action\":\"exchange_poc\",\"databaseInstances\":[{\"instancesId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"config\":{\"resId\"\
                :\"db-70a4fbee-db60-46d2-858c-875478a03a38\",\"resName\":\"database-1\"\
                ,\"resType\":\"dbaas\"}}],\"resourceType\":\"dbaas\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/configurations/create:
    post:
      tags:
      - Relational Configuration group API
      operationId: createConfig_1
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"name\":\"config-1\",\"description\":\"\",\"datastoreType\"\
                :\"MySQL\",\"datastoreVersion\":\"5.5\",\"engineGroup\":1}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentItemConfigInfo'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/backups/{id}/restore:
    post:
      tags:
      - Relational Backup API
      operationId: restoreBackup_1
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas-backup\",\"action\":\"restore_backup\"\
                ,\"databaseInstances\":[{\"instancesId\":\"db-71fdffd0-24fa-4e80-baa0-1eb3cc9e06a0\"\
                ,\"config\":{\"backupId\":\"bk-f1018529-11d8-4aae-a733-e2ef6b0f40a8\"\
                ,\"name\":\"database-nw_yt603-wq\",\"ram\":4,\"vcpus\":2,\"flavorId\"\
                :\"477\",\"volumeId\":\"0\",\"engineGroup\":1,\"volumeSize\":20,\"\
                priceKey\":\"general\",\"zoneId\":245,\"datastoreType\":\"MySQL\"\
                ,\"datastoreVersion\":\"8.0\",\"netIds\":[\"sub-246df886-3ef8-4d70-87e7-6b87f0caea50\"\
                ],\"configId\":\"cfg-f42c6f8f-2cd1-4fcc-a27c-e06a23ca0c49\",\"publicAccess\"\
                :true,\"backupAuto\":true,\"volumeType\":\"ssd-iops3000\",\"packageId\"\
                :103,\"backupDuration\":2,\"backupTime\":\"00:00\",\"packageName\"\
                :\"db.s-general-2x4\",\"volumeTypeZoneId\":\"1B9FF75D-00F5-49CA-842D-CCD5D04834FB\"\
                ,\"packageSku\":\"db.s-general-2x4\",\"volumeTypeSku\":\"SSD-IOPS2-3000.dbaas\"\
                }}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/backups/create:
    post:
      tags:
      - Relational Backup API
      operationId: createBackups_1
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"name\":\"backup-bii5qju6-23\",\"dbInstanceId\":\"db-70a4fbee-db60-46d2-858c-875478a03a38\"\
                ,\"backupType\":\"INCREMENTAL\",\"description\":\"Manual created\"\
                ,\"engineGroup\":1,\"parentId\":\"bk-e589fd8a-6037-47dc-95a2-338f209dc524\"\
                }"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentCreateBackupResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/backup-storages/actions/resize:
    post:
      tags:
      - Relational Backup Storage API
      operationId: resizeBackupStorage_1
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas-backup-storage\",\"action\":\"resize\"\
                ,\"databaseInstances\":[{\"instancesId\":\"db-bk-storage-a2579c3e-7a44-4d2d-9929-9da0e3cbf829\"\
                ,\"config\":{\"backupStorageName\":\"relational_backup_storage\",\"\
                backupPackageName\":\"db.backup.quota.500GB\",\"quota\":\"500\",\"\
                backupPackageId\":3,\"sku\":\"db.backup.quota.500GB\",\"startDate\"\
                :\"2024-08-13T09:50:26.595Z\",\"engineGroup\":1}}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/backup-storages/actions/renew:
    post:
      tags:
      - Relational Backup Storage API
      operationId: renewBackupStorage_1
      parameters:
      - name: user-type
        in: header
        required: false
        style: simple
        explode: false
        schema:
          type: string
          default: ROOT_USER
          enum:
          - ROOT_USER
          - IAM_USER
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"resourceType\":\"dbaas-backup-storage\",\"action\":\"renew\"\
                ,\"databaseInstances\":[{\"instancesId\":\"db-bk-storage-c79b1cf3-8110-4553-9d45-5fe0241a0575\"\
                ,\"config\":{\"resId\":\"db-bk-storage-c79b1cf3-8110-4553-9d45-5fe0241a0575\"\
                ,\"resName\":\"relational_backup_storage\"}}]}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListOrderResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /v1/backup-storages/actions/deletions:
    post:
      tags:
      - Relational Backup Storage API
      operationId: deleteBackupStorage_1
      requestBody:
        content:
          application/json:
            schema:
              type: string
              example: "{\"databaseInstances\":[{\"instancesId\":\"db-bk-storage-11d6e542-d311-47ef-8c50-6abff7b8e8b2\"\
                ,\"config\":{\"engineGroup\":1}}],\"action\":\"delete\",\"resType\"\
                :\"dbaas-backup-storage\"}"
        required: true
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListActionDbInstancesResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/volume-types:
    get:
      tags:
      - MemoryStore Misc API
      operationId: getVolumeTypes
      parameters:
      - name: portal-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentVolumeTypeGatewayResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/status:
    get:
      tags:
      - MemoryStore Misc API
      operationId: listDatabaseInstanceStatus
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentSetString'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/networks:
    get:
      tags:
      - MemoryStore Misc API
      operationId: getListNetwork
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListNetworkResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/networks/subnets:
    get:
      tags:
      - MemoryStore Misc API
      operationId: listNetwork
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListNetworkResponseV2'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/flavors:
    get:
      tags:
      - MemoryStore Misc API
      operationId: getFlavors
      parameters:
      - name: type
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: version
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: portal-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListFlavorInfo'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/families:
    get:
      tags:
      - MemoryStore Misc API
      operationId: getAllInstanceFamily
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListInstanceFamily'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/engine:
    get:
      tags:
      - MemoryStore Misc API
      operationId: getEngine
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentSetEngine'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/datastore:
    get:
      tags:
      - MemoryStore Misc API
      operationId: getAllDatastore
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListEngineVersion'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/configuration:
    get:
      tags:
      - MemoryStore Misc API
      operationId: getDBInstanceConfig
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentListItemConfigInfo'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database/codes:
    get:
      tags:
      - MemoryStore Misc API
      operationId: getFlavorCodes
      parameters:
      - name: portal-user-id
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentSetFlavorCode'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Resource Not Found
        "500":
          description: Internal Server Error
  /vdb-memory/v1/database-instances:
    get:
      tags:
      - MemoryStore Database API
      operationId: getDatabaseInstancesByUser
      parameters:
      - name: filterRequest
        in: query
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/FilterRequest'
      - name: pageNumber
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WrapContentDatabaseInstancesGatewayResponse'
        "202":
          description: Accepted
        "204":
          description: No Content
        "400":
          description: Bad Request
[...]
